/* First Navigation Bar */
.logo {
   height: 2.5rem;
   width: auto;
}

.navBar {
   background-color: white;
   font-weight: 500;
   padding: 1rem;
}

.navLink {
   margin-right: 3rem;
}

.navLink:hover{
   color: red;
}

/* Second NavBar */
.background{
   background-color: red;
}

.link {
   text-align: center;
   padding: 0.5rem;
   font-weight: 500;
   color: white;
}

.link:hover {
   background-color: #333;
}