table, th, td {
   border: 1px solid black;
}

th {
   text-align: center;
}

h3 {
   color: grey;
}

strong {
   font-size: 1.25rem;
}

strong, b {
   color: red;
}

.firstPic {
   object-fit: cover;
   height: 500px;
   width: 100%;
}

.pic {
   width: 70%;
   display: block;
   margin: auto;
   padding: 10px;
}

.milestone {
   width: 100%;
   height: auto;
   object-fit: cover;
}